html,
body {
  height: 100%;
  font-size: 16px;
  background-image: url('./assets/img/background.jpg');
  background-position: center;
  background-size: cover;
}

.oldenburg-regular {
  font-family: "Oldenburg", serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.text-primary {
  color: #284870 !important
}

.text-secondary {
  color: #82ABB8 !important
}

.bg-primary {
  background-color: #EFA669 !important
}

.home-btn {
  border-radius: 50px;
  min-width: 150px;
}